<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= teacher.teacher_id %>
  </p>

  <p>
    <strong>Administrator:</strong>
    <%= teacher.administrator_id %>
  </p>

</div>
