<div id="<%= dom_id administrator %>">
  <p>
    <strong>Name:</strong>
    <%= administrator.name %>
  </p>

  <p>
    <strong>School name:</strong>
    <%= administrator.school_name %>
  </p>

  <p>
    <strong>Administrator:</strong>
    <%= administrator.administrator_id %>
  </p>

</div>
